[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8m4
collation-server=utf8m4_unicode_ci
skip-character-set-client-handshake

[mysqldump]
default-character-set=utf8m4